* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --main-colour: #FFE4E1;
    --dark: black;
    --hover-colour: lightgrey;
}

.nav {
    background-color: gray;
    padding: 10px;
}

.jumbotron {
    display: flex;
    text-align: center;
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    height: 300px;
    width: 100%;
}

.jumbotron h1 {
    font-size: 30px;
    background-color: #FFE4E1;
}

.image img {
    height: 250px;
    float: left;
    padding: 10px;
}

.column1 {
    text-align: right;
}

.column2 {
    border-left: 6px solid var(--dark);
}

.hori {
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
}

.p1 {
    background-image: url("../images/coffee.jpg");
    background-size: 100%;
}

.p2 {
    background-image: url("../images/mountain.jpg");
    background-size: 100%;
}

.p3 {
    background-image: url("../images/friends.jpg");
    background-size: 100%;
}

.p4 {
    background-image: url("../images/laptop.jpg");
    background-size: 100%;
}

.grid {
    height: 200px;
    width: 200px;
    border: 2px white solid;
}